{{- if eq .machineType "personal" }}
# Personal machine aliases
alias coleta-next="/Users/shina/documents/coleta/coleta-next"
alias coleta="/Users/shina/documents/coleta/coleta/coleta-server"
alias awsp='export AWS_PROFILE="coleta/tf"'
alias awsd='export AWS_PROFILE="coleta-dev/tf"'

{{- end }}
# Common aliases
alias c="clear"
alias f="yazi"
alias dc='docker compose'
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lal='ls -la'
alias lt='ls --tree'
alias moi="chezmoi"

# git aliases
alias gs="git status"
alias gw="git worktree"
alias gwl="git worktree list"
alias gl="git log"
alias glo="git log --oneline"


# Neovim
alias vim="nvim"
alias vi="nvim"

# bat (cat の代替)
if builtin command -v bat > /dev/null; then
  alias cat="bat"
fi
